@import-normalize;

html,
body,
#root,
#root > div {
  height: 100%;
  color: #333;
  line-height: 26px;
}

@font-face {
  font-family: "Lato-Regular";
  src: local("Lato-Regular"), url("./assets/fonts/Lato-Regular.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Lato-Regular", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
