.container {
  margin: 0 20px;
}

.image {
  max-width: 300px;
  width: 100%;
}

.summary {
  margin: 14px 0;
}

.instructions {
  padding: 0;
  list-style: none;
}

.instructions li {
  padding: 5px 0;
}

h1,
h2 {
  font-weight: 400;
  line-height: initial;
}

.ingredients {
  padding: 0;
  list-style: none;
}

.ingredients li {
  border-top: 2px solid rgba(68, 125, 117, 0.1);
  padding: 5px 0;
  text-transform: capitalize;
}
